body {
    background-color:#DCE1DE
}

#deck {
    background-color:#5F6D64 ;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
    width: 600px;
    border-radius: 10px;
    margin:auto;
    shadow: 5px, 5px, 5px, 5px black;

}

.card-outer {
    background-color: transparent;
    width: 125px;
    height: 125px;    
    perspective: 1000px;
    
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 2s;
    transform-style: preserve-3d;
    border: 1px solid #330C2F;
    border-radius: 5px;
}
/* .card-outer:hover .card-inner{
    transform: rotateY(180deg);
    transition: 2s;
} */
.show{
    transform: rotateY(180deg);
    transition: 2s;
    pointer-events: none;

}
.matched{
    transform: rotateY(180deg);
    transition: 2s;
    pointer-events: none;

}

.card-outer img{
    position: absolute;
    width: 100%;
    height: 100%;  
    backface-visibility: hidden;
    border-radius: 5px;

}
.front {
    position: absolute;
    width: 100%;
    height: 100%;  
    backface-visibility: hidden;

}

.front {
    background-color: #8B2635;
    color: #9CC5A1;
    /* transform: rotateY(180deg); */
    
    
}
.card-inner img{
    transform: rotateY(180deg);
}

.disabled{
    pointer-events: none;
}
#button{
    display: none;
}