@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/* latin */
@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/amaticsc/v15/TUZ3zwprpvBS1izr_vOMscGKfrUC_2fi-Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    background-color:#DCE1DE;
    min-height: 900px;
}
header {
    text-align:center;
    display:flex;
    min-width: 943px;
    margin-top:30px;
}
header img {
    width:150px;
    height:150px;
}
a {
    text-decoration: none;
    font-family:'Amatic SC';
    font-size:45px;
    padding:10px;
    color: #4e6756 ;
}
#home {
    margin:auto;
    font-size: 110px;
    font-family: 'Amatic SC', cursive;
    padding-right:165px;
    padding-left:15px;
}
h1 {
    margin:auto;
    font-size: 110px;
    font-family: 'Amatic SC', cursive;
    padding-left:15px;
    padding-right:165px;
}
#home-page {
    display:flex;
    flex-direction: column;
    height:650px;
}
#home-page div {
    margin:auto;
    
}
#home-page p {
    width:900px;
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    line-height: 29pt;
    background-color:rgba(157, 196, 161, 0.5);
    padding:10px;
    border-radius:10px;    
    border: 1px solid rgb(135, 167, 138);
}
#form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    
    
}
fieldset {
    padding-top:15px;
    border-radius: 5px;
    background-color:rgba(157, 196, 161, 0.5);
    border: 1px solid rgb(129, 162, 132);

}
#entergame {    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    display:flex;
    
}
#entergame a { 
    
    margin:auto;
}

#name-field {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
}
#enter-button {
    background-color: #e1ab88;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    border-radius: 5px;
    transition-duration:0.2s;
    cursor:pointer;
}
#enter-button:hover {
    transform:scale3d(1.05,1.05,1.05);
}
#navbar {
    margin-top:50px;
    text-align: center;
    min-width: 700px;
}
h2 {
    display:inline-block;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    margin: 10px 50px;
    
    
}
#deck {

    background-color:#808782;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
    width: 600px;
    border-radius: 10px;
    margin:auto;
    border:2px solid black;
    box-shadow: 3px 3px 25px 5px black;
    margin-bottom: 70px;

}
#results-button {
    display:none;
    height:500px;
}
#results-button a {
    margin:auto;
}

#button{
    background-color: #e1ab88;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    border-radius: 5px;
    cursor: pointer;
} 
.card-outer {
    background-color: rgb(23, 23, 23);
    width: 125px;
    height: 125px;    
    perspective: 1000px;
    border-radius: 5px;
    /* box-shadow: inset 1px 1px 15px 5px black; */
    /* box-shadow: 1px 1px 15px 2px black; */

    
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    /* border: 1px solid #330C2F; */
    border-radius: 5px;
    cursor: pointer;
}
/* .card-outer:hover .card-inner{
    transform: rotateY(180deg);
    transition: 2s;
} */
.show{
    transform: rotateY(180deg);
    transition: 1s;
    pointer-events: none;

}
.matched{
    transform: rotateY(180deg);
    transition: 1s;
    pointer-events: none;
    animation-name: matched;
    animation-delay: .5s;
    animation-duration: .5s;

}

.card-outer img{
    position: absolute;
    width: 100%;
    height: 100%;  
    backface-visibility: hidden;
    border-radius: 5px;

}
.front {
    position: absolute;
    width: 100%;
    height: 100%;  
    backface-visibility: hidden;
    border-radius: 5px;
    border: 1.5px solid rgb(80, 106, 82);
    text-align: center;
    font-size: 72pt;
    color: #CA895F; 
    background-color: rgb(141, 184, 145);
    /* pointer-events: none; */

}

.card-inner img{
    transform: rotateY(180deg);
}

.disabled{
    pointer-events: none;
}


button {
    transition-duration:0.2s;
    cursor:pointer;
}
button:hover {
    transform: scale3d(1.05,1.05,1.05);
    
}
footer {
    /* position:absolute;
    left:34%;
    bottom:0; */
    margin-top:auto;
    text-align: center;
    font-family:'Amatic SC';
}
#results-page {
    text-align: center;
    height:650px;
}
#results-page a button{
    background-color: #e1ab88;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    border-radius: 5px;
}
#results p {
    width:900px;
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    line-height: 29pt;
    background-color:rgba(157, 196, 161, 0.5);
    padding:10px;
    border-radius:10px;    
    border: 1px solid rgb(135, 167, 138);
}

@keyframes matched {
    0% {transform:scale3d(1,1,1);
     }
    50% {transform:scale3d(1.1,1.1,1.1);
     }
    100% {transform:scale3d(1,1,1);
    }
}
@keyframes hovered {
    0% {transform:scale3d(1,1,1);
    }
    100% {transform:scale3d(1.1,1.1,1.1);
    }
}